# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [15]:
A = pd.Series(np.random.randint(1,5,100))
B = pd.Series(np.random.randint(1,4,100))
C = pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [19]:
df = pd.concat([A,B,C] , axis=1)
df

    0  1      2
0   2  1  23848
1   4  3  25540
2   1  1  27373
3   3  3  28294
4   4  3  11567
.. .. ..    ...
95  2  3  12715
96  1  3  14176
97  2  1  26002
98  4  3  24507
99  1  3  12533

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [20]:
df.rename(columns={0:'bedrs',1:'bathrs',2:'price_sqr_meter'} , inplace=True)
df

    bedrs  bathrs  price_sqr_meter
0       2       1            23848
1       4       3            25540
2       1       1            27373
3       3       3            28294
4       4       3            11567
..    ...     ...              ...
95      2       3            12715
96      1       3            14176
97      2       1            26002
98      4       3            24507
99      1       3            12533

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [21]:
bigColumn = pd.concat([A,B,C] , axis=0)
bigColumn

0         2
1         4
2         1
3         3
4         4
      ...
95    12715
96    14176
97    26002
98    24507
99    12533
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [22]:
len(bigColumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [25]:
bigColumn.reset_index(drop=True ,inplace=True)
bigColumn

0          2
1          4
2          1
3          3
4          4
       ...
295    12715
296    14176
297    26002
298    24507
299    12533
Length: 300, dtype: int32