# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
row_data = {'evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'],
           'hp':[45,39,44,45],
           'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
           'pokedex':['yes','no','yes','no'],
           'type':['grass','fire','water','bug']
           }

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = pd.DataFrame(row_data)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [10]:
pokemon = pokemon[['name','type','hp','evolution','pokedex']]

### Step 5. Add another column called place, and insert what you have in mind.

In [14]:
place = ['tanta','mahalla', ' italy','america']
pokemon['place'] = place
pokemon

<ipython-input-14-44d113030dda>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place'] = place

         name   type  hp   evolution pokedex    place
0   Bulbasaur  grass  45     Ivysaur     yes    tanta
1  Charmander   fire  39  Charmeleon      no  mahalla
2    Squirtle  water  44   Wartortle     yes    italy
3    Caterpie    bug  45     Metapod      no  america

### Step 6. Present the type of each column

In [15]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.